@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  background-color: #eec0c6;
  background: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%) no-repeat center/center;
  color: #323b3c;
  max-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.quote-box {
  min-height: 300px;
  width: 500px;
  box-shadow: 1px 2px 4px #b6b2b2;
  padding: 1rem;
  background: white;
  border-radius: 7.5px;
}

.text {
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  min-height: 150px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.4;
}

.author {
  text-align: right;
  margin-bottom: 2rem;
  height: 20px;
  padding-right: 2rem;
  font-size: 1.15rem;
}

.button-row {
  display: flex;
  justify-content: space-around;
  line-height: 2;
}

.new-quote {
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2.5px;
  outline: none;
  background: #cce8e5;
  color: #516163;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.new-quote:active {
  box-shadow: 1px 1px 2px grey;
}

@media (max-width: 576px) {
  .quote-box {
    width: 336px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 5vh;
  font-size: 22px;
}
